.container {
  display: flex;
  font-weight: bold;
  gap: 1rem;

  .left {
    h1 {
      margin-bottom: 0;
    }
  
    .developer {
      background-color: lightcoral;
    }
  
    .designer {
      background-color: greenyellow;
    }
  
    .entrepreneur {
      background-color: lightseagreen;
    }
  
    .freelance {
      background-color: lightskyblue;
    }
  }

  .right {
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
  }
}